<!D0CTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <title>Digital Bridge</title>
    <link rel="stylesheet" href="{% static 'one_pages/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/7c6eec18eb.js" crossorigin="anonymous"></script>
   <style>
  /* 여기에 추가한 CSS 스타일을 작성하세요 */
  .navbar-nav .nav-link {
    font-size: 70px; /* 원하는 크기로 변경하세요 */
  }
  .navbar {
    font-size: 50px;
  }
  .btn.btn-light {
    font-size: 30px;
  }
</style>
</head>
<body>

 <nav class="navbar navbar-expand-lg bg-light">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@800&display=swap" rel="stylesheet">
    <style> *{ font-family: 'Noto Sans KR', sans-serif; }</style>
<div class="container">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Digital Bridge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  href="/class">강의</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/home">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">소개</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/accounts/logout/">Log out</a></li>
          </ul>
        </li>
       {% else %}
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
  로그인&회원가입
</button>
  {%  endif %}
      </ul>


               <!-- 네비게이션바 -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-right-to-bracket"></i>&nbsp 사이트 이름</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark" href="{%  provider_login_url 'google' %}"><i class="fa-brands fa-google"></i>&nbsp&nbsp 구글로 로그인하기</a>
                <a role="button" class="btn btn-outline-dark" href="/accounts/login/"><i class="fa-solid fa-user"></i>&nbsp&nbsp 로그인하기</a>
            </div>
            <div class="col-md-6">
                <a role="button" class="btn btn-outline-dark" href="/accounts/signup/"><i class="fa-solid fa-user"></i>&nbsp&nbsp 회원가입 하기</a>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>